# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
JumpAndRun/.vs/JumpAndRun/FileContentIndex/516c9290-647b-4e33-b6e5-b9439a3c9968.vsidx
JumpAndRun/.vs/JumpAndRun/FileContentIndex/67e3b986-6e0b-4376-9e07-5641e375f566.vsidx
JumpAndRun/.vs/JumpAndRun/v17/.suo
JumpAndRun/.vs/JumpAndRun/v17/Browse.VC.db
JumpAndRun/.vs/JumpAndRun/v17/Browse.VC.db-shm
JumpAndRun/.vs/JumpAndRun/v17/Browse.VC.db-wal
JumpAndRun/.vs/JumpAndRun/v17/Browse.VC.opendb
JumpAndRun/.vs/JumpAndRun/v17/DocumentLayout.backup.json
JumpAndRun/.vs/JumpAndRun/v17/DocumentLayout.json
JumpAndRun/.vs/JumpAndRun/v17/fileList.bin
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/7a448b27d389de65/OFGRAPHICS.ipch
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/920045c80c7c1a3b/OFAPP.ipch
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/a62421f4be4b3c11/PLAYERCHARACTER.ipch
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/deffeb60ce501ea6/MAIN.ipch
JumpAndRun/.vs/JumpAndRun/v17/Solution.VC.db
JumpAndRun/.vs/JumpAndRun/v17/Solution.VC.db-shm
JumpAndRun/.vs/JumpAndRun/v17/Solution.VC.db-wal
Space Invader/.vs/Space Invader/v17/Solution.VC.db
Space Invader/.vs/Space Invader/v17/ipch/AutoPCH/ee10c993a4df125a/OFAPP.ipch
Space Invader/.vs/Space Invader/v17/ipch/AutoPCH/b7403f13e3b566af/OFMATH.ipch
Space Invader/.vs/Space Invader/v17/ipch/AutoPCH/599fa81bda200f31/MAIN.ipch
Space Invader/.vs/Space Invader/v17/ipch/AutoPCH/483378029503ac3f/OFAPP.ipch
Space Invader/.vs/Space Invader/v17/fileList.bin
Space Invader/.vs/Space Invader/v17/DocumentLayout.json
Space Invader/.vs/Space Invader/v17/DocumentLayout.backup.json
Space Invader/.vs/Space Invader/v17/Browse.VC.db
Space Invader/.vs/Space Invader/v17/.suo
Space Invader/.vs/Space Invader/FileContentIndex/10feb364-6e6c-4106-8c8f-a3406d92f18a.vsidx
Pong/.vs/Pong/FileContentIndex/3fa70342-35a9-4ac7-b1c9-e62444ebefa8.vsidx
Pong/.vs/Pong/v17/.suo
Pong/.vs/Pong/v17/Browse.VC.db
Pong/.vs/Pong/v17/Browse.VC.db-shm
Pong/.vs/Pong/v17/Browse.VC.db-wal
Pong/.vs/Pong/v17/Browse.VC.opendb
Pong/.vs/Pong/v17/DocumentLayout.backup.json
Pong/.vs/Pong/v17/DocumentLayout.json
Pong/.vs/Pong/v17/fileList.bin
Pong/.vs/Pong/v17/ipch/AutoPCH/45acdd58b46391d7/OFAPP.ipch
Pong/.vs/Pong/v17/ipch/AutoPCH/90b007be92e7ca5a/MAIN.ipch
Pong/.vs/Pong/v17/ipch/AutoPCH/ec536d9da174cd1f/OFAPPRUNNER.ipch
Pong/.vs/Pong/v17/Solution.VC.db
Pong/.vs/Pong/v17/Solution.VC.db-shm
Pong/.vs/Pong/v17/Solution.VC.db-wal
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/FileContentIndex/fc9f8137-caf9-485e-ac07-780ca80566a6.vsidx
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/.suo
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Browse.VC.db
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Browse.VC.db-shm
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Browse.VC.db-wal
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Browse.VC.opendb
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/DocumentLayout.backup.json
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/DocumentLayout.json
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/ipch/AutoPCH/7b5f26885f3ec747/OFAPP.ipch
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/ipch/AutoPCH/bdb50bb1544beeea/MAIN.ipch
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Solution.VC.db
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Solution.VC.db-shm
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Solution.VC.db-wal
myKeenSketch/.vs/CollisionExample/v17/Solution.VC.db-wal
myKeenSketch/.vs/CollisionExample/v17/Solution.VC.db-shm
myKeenSketch/.vs/CollisionExample/v17/Solution.VC.db
myKeenSketch/.vs/CollisionExample/v17/ipch/AutoPCH/bdd2aa0b8ee32e2/OFAPP.ipch
myKeenSketch/.vs/CollisionExample/v17/ipch/AutoPCH/787aa8e3329816fd/MAIN.ipch
myKeenSketch/.vs/CollisionExample/v17/ipch/AutoPCH/5d16f053e987d4be/OFAPP.ipch
myKeenSketch/.vs/CollisionExample/v17/fileList.bin
myKeenSketch/.vs/CollisionExample/v17/DocumentLayout.json
myKeenSketch/.vs/CollisionExample/v17/DocumentLayout.backup.json
myKeenSketch/.vs/CollisionExample/v17/Browse.VC.opendb
myKeenSketch/.vs/CollisionExample/v17/Browse.VC.db-wal
myKeenSketch/.vs/CollisionExample/v17/Browse.VC.db-shm
myKeenSketch/.vs/CollisionExample/v17/Browse.VC.db
myKeenSketch/.vs/CollisionExample/v17/.suo
myKeenSketch/.vs/CollisionExample/FileContentIndex/efae0039-bd88-4c68-b22e-c92c2caa8c86.vsidx
myKeenSketch/.vs/CollisionExample/FileContentIndex/4a7b1e21-b4c1-49ba-b565-66b5ef4a2813.vsidx
myKeenSketch/.vs/CollisionExample/FileContentIndex/30b9215a-1a1c-4bcc-9e9a-6504c9d6e343.vsidx
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/2856e3fd4bd27619/OFRECTANGLE.ipch
JumpAndRun/.vs/JumpAndRun/FileContentIndex/f71808e8-693f-4cf1-a100-2c82e59b6f61.vsidx
