# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
JumpAndRun/.vs/JumpAndRun/FileContentIndex/516c9290-647b-4e33-b6e5-b9439a3c9968.vsidx
JumpAndRun/.vs/JumpAndRun/FileContentIndex/67e3b986-6e0b-4376-9e07-5641e375f566.vsidx
JumpAndRun/.vs/JumpAndRun/v17/.suo
JumpAndRun/.vs/JumpAndRun/v17/Browse.VC.db
JumpAndRun/.vs/JumpAndRun/v17/Browse.VC.db-shm
JumpAndRun/.vs/JumpAndRun/v17/Browse.VC.db-wal
JumpAndRun/.vs/JumpAndRun/v17/Browse.VC.opendb
JumpAndRun/.vs/JumpAndRun/v17/DocumentLayout.backup.json
JumpAndRun/.vs/JumpAndRun/v17/DocumentLayout.json
JumpAndRun/.vs/JumpAndRun/v17/fileList.bin
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/7a448b27d389de65/OFGRAPHICS.ipch
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/920045c80c7c1a3b/OFAPP.ipch
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/a62421f4be4b3c11/PLAYERCHARACTER.ipch
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/deffeb60ce501ea6/MAIN.ipch
JumpAndRun/.vs/JumpAndRun/v17/Solution.VC.db
JumpAndRun/.vs/JumpAndRun/v17/Solution.VC.db-shm
JumpAndRun/.vs/JumpAndRun/v17/Solution.VC.db-wal
Space Invader/.vs/Space Invader/v17/Solution.VC.db
Space Invader/.vs/Space Invader/v17/ipch/AutoPCH/ee10c993a4df125a/OFAPP.ipch
Space Invader/.vs/Space Invader/v17/ipch/AutoPCH/b7403f13e3b566af/OFMATH.ipch
Space Invader/.vs/Space Invader/v17/ipch/AutoPCH/599fa81bda200f31/MAIN.ipch
Space Invader/.vs/Space Invader/v17/ipch/AutoPCH/483378029503ac3f/OFAPP.ipch
Space Invader/.vs/Space Invader/v17/fileList.bin
Space Invader/.vs/Space Invader/v17/DocumentLayout.json
Space Invader/.vs/Space Invader/v17/DocumentLayout.backup.json
Space Invader/.vs/Space Invader/v17/Browse.VC.db
Space Invader/.vs/Space Invader/v17/.suo
Space Invader/.vs/Space Invader/FileContentIndex/10feb364-6e6c-4106-8c8f-a3406d92f18a.vsidx
Pong/.vs/Pong/FileContentIndex/3fa70342-35a9-4ac7-b1c9-e62444ebefa8.vsidx
Pong/.vs/Pong/v17/.suo
Pong/.vs/Pong/v17/Browse.VC.db
Pong/.vs/Pong/v17/Browse.VC.db-shm
Pong/.vs/Pong/v17/Browse.VC.db-wal
Pong/.vs/Pong/v17/Browse.VC.opendb
Pong/.vs/Pong/v17/DocumentLayout.backup.json
Pong/.vs/Pong/v17/DocumentLayout.json
Pong/.vs/Pong/v17/fileList.bin
Pong/.vs/Pong/v17/ipch/AutoPCH/45acdd58b46391d7/OFAPP.ipch
Pong/.vs/Pong/v17/ipch/AutoPCH/90b007be92e7ca5a/MAIN.ipch
Pong/.vs/Pong/v17/ipch/AutoPCH/ec536d9da174cd1f/OFAPPRUNNER.ipch
Pong/.vs/Pong/v17/Solution.VC.db
Pong/.vs/Pong/v17/Solution.VC.db-shm
Pong/.vs/Pong/v17/Solution.VC.db-wal
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/FileContentIndex/fc9f8137-caf9-485e-ac07-780ca80566a6.vsidx
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/.suo
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Browse.VC.db
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Browse.VC.db-shm
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Browse.VC.db-wal
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Browse.VC.opendb
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/DocumentLayout.backup.json
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/DocumentLayout.json
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/ipch/AutoPCH/7b5f26885f3ec747/OFAPP.ipch
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/ipch/AutoPCH/bdb50bb1544beeea/MAIN.ipch
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Solution.VC.db
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Solution.VC.db-shm
JumpAndRunWithCircle/.vs/JumpAndRunWithCircle/v17/Solution.VC.db-wal
myKeenSketch/.vs/CollisionExample/v17/Solution.VC.db-wal
myKeenSketch/.vs/CollisionExample/v17/Solution.VC.db-shm
myKeenSketch/.vs/CollisionExample/v17/Solution.VC.db
myKeenSketch/.vs/CollisionExample/v17/ipch/AutoPCH/bdd2aa0b8ee32e2/OFAPP.ipch
myKeenSketch/.vs/CollisionExample/v17/ipch/AutoPCH/787aa8e3329816fd/MAIN.ipch
myKeenSketch/.vs/CollisionExample/v17/ipch/AutoPCH/5d16f053e987d4be/OFAPP.ipch
myKeenSketch/.vs/CollisionExample/v17/fileList.bin
myKeenSketch/.vs/CollisionExample/v17/DocumentLayout.json
myKeenSketch/.vs/CollisionExample/v17/DocumentLayout.backup.json
myKeenSketch/.vs/CollisionExample/v17/Browse.VC.opendb
myKeenSketch/.vs/CollisionExample/v17/Browse.VC.db-wal
myKeenSketch/.vs/CollisionExample/v17/Browse.VC.db-shm
myKeenSketch/.vs/CollisionExample/v17/Browse.VC.db
myKeenSketch/.vs/CollisionExample/v17/.suo
myKeenSketch/.vs/CollisionExample/FileContentIndex/efae0039-bd88-4c68-b22e-c92c2caa8c86.vsidx
myKeenSketch/.vs/CollisionExample/FileContentIndex/4a7b1e21-b4c1-49ba-b565-66b5ef4a2813.vsidx
myKeenSketch/.vs/CollisionExample/FileContentIndex/30b9215a-1a1c-4bcc-9e9a-6504c9d6e343.vsidx
JumpAndRun/.vs/JumpAndRun/v17/ipch/AutoPCH/2856e3fd4bd27619/OFRECTANGLE.ipch
JumpAndRun/.vs/JumpAndRun/FileContentIndex/f71808e8-693f-4cf1-a100-2c82e59b6f61.vsidx
Parallax-Project/.vs/CopilotSnapshots/04CEB3536559C742ACFBFC5AA37A9980/992522F38973A74380B2306A2CCAE20C/33CCFA208D965DF6EB08D4E64E29E745
Parallax-Project/.vs/CopilotSnapshots/04CEB3536559C742ACFBFC5AA37A9980/992522F38973A74380B2306A2CCAE20C/3C857A59890DD83F5E98C564EA9254F7
Parallax-Project/.vs/CopilotSnapshots/04CEB3536559C742ACFBFC5AA37A9980/992522F38973A74380B2306A2CCAE20C/F6E582ED93458B63A9489F7CA206B49D
Parallax-Project/.vs/CopilotSnapshots/04CEB3536559C742ACFBFC5AA37A9980/state.mpack
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/A61294E083A8BF429A60041E626EBCDB/764D9F69C61A5C8CE8EA14DD7E304C82
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/A61294E083A8BF429A60041E626EBCDB/BDBCE5A5135222F60C55257B3D84CC37
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/A61294E083A8BF429A60041E626EBCDB/C6D71C4E6137F2DC504FCE76DAD6BEE0
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/A61294E083A8BF429A60041E626EBCDB/DF39C7AAABFCE13259AAA282CA5C39C0
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/A61294E083A8BF429A60041E626EBCDB/FB65C73A5DD0A0CBDC595A36E06DB6F7
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/D233D4FC07509946AF35DD0F91B919E4/1F2E1BBFB60A02D95959322A1D6F4BF6
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/D233D4FC07509946AF35DD0F91B919E4/395E68B50026355E30ED5C56371721F1
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/D233D4FC07509946AF35DD0F91B919E4/764D9F69C61A5C8CE8EA14DD7E304C82
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/D233D4FC07509946AF35DD0F91B919E4/9D41482DE6C47152B498B69C8CE6BA22
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/D233D4FC07509946AF35DD0F91B919E4/C6D71C4E6137F2DC504FCE76DAD6BEE0
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/D233D4FC07509946AF35DD0F91B919E4/F8CC2A7D3FDFC2D1F0A472FF91C56280
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/D233D4FC07509946AF35DD0F91B919E4/FB65C73A5DD0A0CBDC595A36E06DB6F7
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/FC927C9A0600DA42A231CF699D88A849/0AD540E40A9630F36C2B09A4EDEE3BD1
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/FC927C9A0600DA42A231CF699D88A849/76F64775A76794EE66DBEE54DF8E3918
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/FC927C9A0600DA42A231CF699D88A849/C6D71C4E6137F2DC504FCE76DAD6BEE0
Parallax-Project/.vs/CopilotSnapshots/BE006B9FD339A34DBB4255EE488CB572/state.mpack
Parallax-Project/.vs/Parallax-Project/copilot-chat/c67b14fa/sessions/53b3ce04-5965-42c7-acfb-fc5aa37a9980
Parallax-Project/.vs/Parallax-Project/copilot-chat/c67b14fa/sessions/9e667364-e58b-4eb0-9f1d-ef7578fd04c3
Parallax-Project/.vs/Parallax-Project/copilot-chat/c67b14fa/sessions/9f6b00be-39d3-4da3-bb42-55ee488cb572
Parallax-Project/.vs/Parallax-Project/CopilotIndices/17.14.1561.44479/CodeChunks.db
Parallax-Project/.vs/Parallax-Project/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
Parallax-Project/.vs/Parallax-Project/FileContentIndex/054074b6-b4d9-422b-a1be-7e8a658489e0.vsidx
Parallax-Project/.vs/Parallax-Project/FileContentIndex/31c94083-cf1b-42a5-82a3-6bb463d89c58.vsidx
Parallax-Project/.vs/Parallax-Project/FileContentIndex/3e27717c-b6a4-434d-81dd-88b433da7f46.vsidx
Parallax-Project/.vs/Parallax-Project/FileContentIndex/9d733d3b-c3ab-4f44-9037-a6c326838960.vsidx
Parallax-Project/.vs/Parallax-Project/FileContentIndex/abd5812a-8993-40d5-84c2-dcf81b041bb0.vsidx
Parallax-Project/.vs/Parallax-Project/v17/.suo
Parallax-Project/.vs/Parallax-Project/v17/Browse.VC.db
Parallax-Project/.vs/Parallax-Project/v17/DocumentLayout.backup.json
Parallax-Project/.vs/Parallax-Project/v17/DocumentLayout.json
Parallax-Project/.vs/Parallax-Project/v17/fileList.bin
Parallax-Project/.vs/Parallax-Project/v17/ipch/AutoPCH/33ae868183672fe9/OFAPP.ipch
Parallax-Project/.vs/Parallax-Project/v17/ipch/AutoPCH/602ebf949fe483ef/OFOBSTACLE.ipch
Parallax-Project/.vs/Parallax-Project/v17/ipch/AutoPCH/7a5f94b159825cc/OBSTACLE.ipch
Parallax-Project/.vs/Parallax-Project/v17/ipch/AutoPCH/bb3e57e9e17ccb50/OFOBSTACLE.ipch
Parallax-Project/.vs/Parallax-Project/v17/ipch/AutoPCH/c4c7d0a2d494447f/MAIN.ipch
Parallax-Project/.vs/Parallax-Project/v17/ipch/AutoPCH/c6e40d5cdf8a5e45/OBSTACLE.ipch
Parallax-Project/.vs/Parallax-Project/v17/ipch/AutoPCH/e59593e6dde0c986/OFOBSTACLE.ipch
Parallax-Project/.vs/Parallax-Project/v17/ipch/AutoPCH/ecb9d61102d230e8/OFAPP.ipch
Parallax-Project/.vs/Parallax-Project/v17/Solution.VC.db
